node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/lib/server/db/sqlite.db*
src/lib/server/db/migrations/
scripts/
my_encryption_key.pem
company_public.pem
TODO.md
